.what-are-you-looking-at {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    font-size: 50px;
    z-index: 10000;
    color: red;
}

.what-are-you-looking-at-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);
}